<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <display-name>Development of Java Interface</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>multipledose.jsp</welcome-file>
    <welcome-file>singledose.jsp</welcome-file>
    <welcome-file>dose.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WebFigures</servlet-name>
    <servlet-class>com.mathworks.toolbox.javabuilder.webfigures.WebFiguresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebFigures</servlet-name>
    <url-pattern>/WebFigures/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MultipleDose</servlet-name>
    <servlet-class>MultipleDose</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>SingleDose</servlet-name>
    <servlet-class>SingleDose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultipleDose</servlet-name>
    <url-pattern>/MultipleDose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleDose</servlet-name>
    <url-pattern>/SingleDose</url-pattern>
  </servlet-mapping>
</web-app>